.three-nft-canvas {
  border-radius: 20px;
  width: 200px;
  height: 150px;
  background: #111111;
  box-shadow: inset 11px 11px 8px #070707, inset -10px -5px 8px #1e1e1e;
  padding: 5px 5px 10px 5px;
}
