* {
  --color-primary: #0d8f8f;
  --color-secondary: #fafafa;
  --color-tertiary: #fafafa;
  /* background */
  --bg-primary: #111111;
  --bg-secondary: #fafafa;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: var(--bg-primary);
  color: var(--color-primary);
  font-family: "Roboto", sans-serif;
}
