.three-nft-canvas {
  border-radius: 20px;
  width: clamp(150px, 20vw, 300px);
  aspect-ratio: 1.4;
  /* height: 100px; */
  background: #111111;
  box-shadow: inset 11px 11px 8px #070707, inset -10px -5px 8px #1e1e1e;
  padding: 5px 5px 10px 5px;
}

.three-nft-page-canvas {
  border-radius: 20px;
  width: clamp(300px, 70vw, 700px);
  height: clamp(300px, 70vw, 700px);
  background: #111111;
  box-shadow: inset 11px 11px 8px #070707, inset -10px -5px 8px #1e1e1e;
  padding: 5px 5px 10px 5px;
}

.one-row-nft {
  border: 1px solid var(--color-primary);
  padding: 10px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  border-radius: 10px;
  gap: 10px;
  width: 100%;
  max-width: 1200px;
}
.one-row-nft-text {
  display: flex;
  align-items: center;
  min-width: 300px;
  width: 50vw;
  max-width: 600px;
  justify-content: center;
}
.one-row-nft > img {
  width: 40%;
  max-width: 300px;
  min-width: 200px;
}

.your-nft-level {
  background-color: #0d8f8f30;
}

.tree-page-wrap {
  border: 2px solid red;
  position: absolute;
  width: 100%;
  background-color: #111111;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px;
}

.tree-page-header {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: clamp(40px, 8vw, 60px);
  font-weight: 600;
  font-size: clamp(40px, 8vw, 60px);
}

.tree-page-header-text {
  padding: 5px;
  font-size: 14px;
  color: #ffffff;
  font-weight: 100;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.tree-page-header-text > span {
  text-align: center;
}

.your-nft-panel {
  margin-top: 20px;
  border: 1px solid red;
  opacity: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.nft-panel-hidden {
  opacity: 0;
}

.your-nft-panel-text {
  margin-top: 20px;
}
