.ys-main {
  margin-top: 50px;
}

.ys-header {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: clamp(40px, 8vw, 60px);
  font-weight: 600;
  position: relative;
}

.colour-search::after {
  content: "For '" attr(customattr) "'";
  color: #ffffff;
  font-size: 20px;
  font-weight: 200;
  position: absolute;
  bottom: -20px;
}

.ys-main {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 20px;
}

.add-store-main {
  background-color: #0d8f8f15;
  height: 400px;
  width: 400px;
  border: 4px dashed var(--color-primary);
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
}

.add-store-main > span {
  font-size: 100px;
}

@media (max-width: 500px) {
  .add-store-main {
    width: 300px;
    height: 300px;
  }
}
